<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.maslanka.automatecar">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>


    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".prefconnected.PrefsCarConnected"
            android:label="@string/car_connected" />
        <activity
            android:name=".prefconnected.AppsToLaunch"
            android:label="@string/apps_to_launch" />
        <activity
            android:name=".connected.PopupConnectedActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/Transparent"
            android:showOnLockScreen="true"
            android:screenOrientation="fullSensor" />
        <activity android:name=".helpers.TurnScreenOnActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/Transparent"
            android:showOnLockScreen="true"/>
        <activity android:name=".helpers.ActivityForResult"/>
        <activity android:name=".prefother.PrefsOther"
            android:label="@string/other_options"/>


        <service android:name=".services.MainService" />
        <service android:name=".services.CarConnectedService" />
        <service android:name=".services.ForceAutoRotationService"/>
        <service android:name=".services.ProximitySensorService" />
        <service
            android:name=".services.HelperAccessibilityService"
            android:enabled="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
                <action android:name="net.grayswander.rotationmanager.RotationManagerService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service" />
        </service>


        <receiver android:name=".utils.DeviceAdminLock"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>